<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bands</title>
    <link href="/Content/css/bootstrap.css" rel="stylesheet">
    <link href="/Content/css/styles.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="container">
    @if(@Model["venues-in-band"].Count != 0)
    {
      @foreach(var venue in Model["venues-in-band"])
      {
        <li>@venue.GetName()</li>
      }
    }
    else
    {
      <h4>There are no venues associated with this band</h4>
    }
      <h4>Add a venue to this band:</h4>
      <form action='/band/add_venue' method='post'>
        <input id='band-id' name='band-id' type='hidden' value='@Model["current-band"].GetId()'>
        <label for='venue-id'>Select a venue</label>
        <select id='venue-id' name='venue-id' type='text'>
          @foreach (var venue in @Model["all-venues"])
          {
            <option value='@venue.GetId()'>@venue.GetName()</option>
          }
        </select>
        <button type='submit'>Add</button>
      </form>
      <p><a href="/">Return to Main Page</a></p>
  </div>
  </body>
</html>
